.barra {
    width: 1300;
    height: 40;
    margin: 0 auto;
}
.darkgrey {
    background-color: rgba(0, 0, 0, 0.8);

}

.navtext {
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block; 
    font-family: sans-serif;

;
}
.icons{
    padding: auto;
    margin: 0 auto;
}

.color-orange {
    color: orange;
}
.small-text {
	font-size: 12px;
}
.bold{
	font-weight: bold;
}
.bluebotton{
    background-color: gb(0, 113, 227);
    color: gb(0, 113, 227);
}

.supersmall-text {
	font-size: 10px;

}
body {
    text-align: center;
    font-family: sans-serif;
    color:rgb(29,29,31);
      }
  
  .image1 {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    display: block;
    
    ;
}
.box1 {
    width: 450;
    height: 400;
    display: inline-block;
      }

.grey-background {
    background-color: rgb(242, 242, 242);
}

.Small-image {
    padding-top: 75px;
    width: 400px;

}
.Small-image2 {

    padding-top: 10px;
    width: 300px;

}
.box2 {
    width: 400;
    height: 300;
    background-color: rgb(242, 242, 242);
    display: inline-block;
      }
.small-icon{
    margin-top: 50px;
    width: 20;
    height: 20;
}
footer {
    text-align: center;
    font-family: sans-serif;
    color:rgb(29,29,31);
    font-size: 9px;
      }

.lightgrey {
    background-color: rgb(245, 245, 247);
}

.barrafooter {
    width: 1380;
    height: 40;
    margin: 0 auto;
    object-position: bottom;
}

.footext{
    font-size: 9px;
    text-align: center;
    color: rgb(81, 81, 84);
}
    .footext2{
        font-size: 9px;
        text-align: center;
        display: inline-block;
        padding-left: 20px;
    }